@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --background: #ffffff;
  --fs-h1: 25px;
  --fs-h2: 18px;
  --fs-h3: 16px;
}

@media (min-width: 768px) {
  :root {
    --fs-h1: 50px;
    --fs-h2: 30px;
    --fs-h3: 25px;
  }
}

@media (min-width: 1024px) {
  :root {
    --fs-h1: 40px;
    --fs-h2: 27px;
    --fs-h3: 23px;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: bold;
  font-family: inherit;
}

h2 {
  font-size: var(--fs-h2);
  font-weight: bold;
  font-family: inherit;
}

h3 {
  font-size: var(--fs-h3);
  font-weight: bold;
  font-family: inherit;
}

button {
  color: white;
}
